<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog Web App</title>
</head>

<body>
    <h1>Blog Site</h1>
    <form action="/submit" method="POST">
        <label for="name">Your Name:</label>
        <input type="text" name="name" required>
        <label for="title">Post Title:</label>
        <input type="text" name="title" required>
        <label for="content">Write your post:</label>
        <input type="text" name="content" required>
        <input type="submit" value="Submit">
    </form>
</body>

</html>
