<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog Web App</title>
</head>

<body>
    <h1>Blog Site</h1>
    <h2>Make a Post</h2>
    <form action="/submit" method="POST">
        <label for="content">Write your post:</label>
        <input type="text" name="content" required>
        <input type="submit" value="Submit">
    </form>

    <h2>Browse Posts</h2>
    <% if (locals.posts) { %>
        <%= posts.forEach(element => {
            <li>
                <%= element %>
            </li>
        }); %>
    <% } %>
</body>

</html>
